.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.botao{
  width: 300px;
  height: 100px;
  font-size: 2rem;
  margin-top: screen.width / 2;
}

.navbar{
  background-color: #071886;
}

.fbold{
  font-weight: bold;
}

.fitalico{
  font-style: italic;
}

.dvimgl {
  min-height: 700px;
  width: 100%;
  margin-top: 10px;
  background-image: url('../images/moldura.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  z-index: 002;
}

.dvimgr {
  min-height: 700px;
  width: 100%;
  margin-top: 10px;
  background-image: url('../images/moldura.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  z-index: 002;
}

#exampleModalCenter {
  min-width: 600px;
  height: 600px;
  overflow: hidden;
  font-size: 34px;
  overflow: hidden;
}
